:root {
    --white: #e6e6e6;
    --black: #151515;
    --blue: #0000ff;
}

* {
    box-sizing: border-box;
    /* border: 1px dotted var(--black); */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--white);
    background: url('gambar/header.jpg') no-repeat center center/cover;
}

/* class container */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* id back */
.container #back {
    width: 120px;
    height: 40px;
    position: absolute;
    top: 8%;
    left: 4%;
    z-index: 5;
    background-color: var(--blue);
    color: var(--white);
    transition: all 0.3s ease;
}

.container #back:hover {
    transform: scale(1.1);
    background-color: var(--white);
    color: var(--black);
}

/* class content */
.container .content {
    background-color: rgba(0, 0, 0, 0.7);
    width: 80%;
    height: 90vh;
    border-radius: 10px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* tag h2 */
.container .content h2 {
    color: var(--white);
    font-size: 2rem;
    font-family: pacifico;
    text-align: center;
    position: relative;
    top: 20px;
    cursor: default;
}

/* tag h3 */
.container .content h3 {
    position: relative;
    top: 20px;
    color: var(--white);
    font-size: 1rem;
    text-align: center;
    margin-bottom: 20px;
    cursor: default;
}

/* tag form */
.container .content form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* tag label */
.container .content form label {
    font-size: 1rem;
    color: var(--white);
    display: flex;
    align-self: flex-start;
    margin-bottom: 5px;
}

/* tag input */
.container .content form input,
.container .content form textarea {
    width: 100%;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    margin-bottom: 10px;
}

/* tag textarea */
.container .content form textarea {
    height: 80px;
}

/* type checkbox */
.container .content form input[type="checkbox"] {
    accent-color: var(--white);
}

/* class skill */
.container .content .skill {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 2%;
}

/* tag input */
.container .content .skill input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 15px;
}

/* tag label */
.container .content .skill label {
    font-size: 1rem;
    color: var(--white);
    display: flex;
    align-self: flex-start;
    margin-bottom: 5px;
}

/* class btn */
.container .content .btn {
    position: relative;
    top: 3%;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--white);
    color: var(--white);
    border-radius: 5px;
    width: 140px;
    height: 40px;
    transition: all 0.3s ease;
}

.container .content .btn:hover {
    transform: scale(1.1);
    background-color: var(--blue);
    border: none;
}

@media screen and (max-width: 767px) {

    .container #back {
        position: absolute;
        top: 92%;
    }

    .container .content {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        position: relative;
        top: -40px;
    }

    .container .content h2 {
        position: relative;
        top: 0;
        font-size: 1.2rem;
    }

    .container .content h3 {
        width: 300px;
        font-size: 0.8rem;
        position: relative;
        top: 1%;
    }

    .container .content form input,
    .container .content form textarea {
        width: 300px;
        font-size: 0.8rem;
    }

    .container .content form label {
        font-size: 0.8rem;
        width: 300px;
        position: relative;
        left: -45px;
    }

    .container .content .skill {
        position: relative;
        top: 5%;
    }

    .container .content .skill label {
        position: relative;
        left: 0;
        font-size: 0.8rem;
    }

    .container .content .btn {
        position: relative;
        top: 10%;
    }
}

@media (min-width: 767px) and (max-width: 1024px) {

    .container #back {
        position: absolute;
        top: 5%;
    }

    .container .content {
        width: 90%;
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -5%;
    }

    .container .content form {
        position: relative;
        top: 2%;
    }
}
